
<h1 align = 'center'>About</h1>

<div class = 'col-xs-8 col-xs-offset-2 about'>
  <p>This site was created through Mashrur Hossains Udemy course <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/" target = 'blank'> The Complete Ruby on Rails Developer.</a></p>
  <p>
    If you would like to view this project on Github, click here for the <a href="https://github.com/ScottDenton/Alpha-blog" target = 'blank'> Github repo.</a>
  </p>
</div>
